# DATABASE CONFIGURATION
# If you use docker: DB_HOST=postgres_db
# If you run it on local (npm run start/dev): DB_HOST=localhost
DB_HOST=localhost
DB_PORT=5432 #Or use other port
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=system_ticket_bus_db
JWT_SECRET=your_jwt_password